{# Ce template n'hérite de personne,
   tout comme le template inclus avec {{ include() }}.
	il contient la liste des articles contenu dans un panier#}
   
<ul class="nav nav-pills nav-stacked">
Votre panier
{% set articles = app.session.get('listArticlesPanier') %}
{% for article in articles %}

      <li>
		{{ article.titre }}
        {{ article.prix }}
       </li>
{% endfor %}


  
</ul>
